{
  auto_https disable_redirects
}

http://{$APP_HOST}, https://{$APP_HOST} {
  encode gzip

  handle_path /api/* {
    reverse_proxy backend:8000
  }

  handle /health {
    reverse_proxy backend:8000
  }

  handle {
    reverse_proxy frontend:3000
  }
}
